# ======================
# Node Modules
# ======================
node_modules/
client/node_modules/

# ======================
# Environment Variables (VERY IMPORTANT)
# ======================
.env
.env.*
client/.env*
api/.env*

# ======================
# Build Folders
# ======================
build/
dist/
client/build/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Coverage
# ======================
coverage/

# ======================
# Vercel
# ======================
.vercel

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Misc
# ======================
*.log